
.fake
.ionide
GtkDotNet/bin
GtkDotNet/obj
resources/resources.gresource
resources/listview.glade~
Tutorial/bin
Tutorial/obj
TutorialFs/bin
TutorialFs/obj
ExampleApplication1/bin
ExampleApplication1/obj
