
.fake
.ionide
GtkDotNet/bin
GtkDotNet/obj
Tester/bin
Tester/obj
resources/resources.gresource
resources/listview.glade~
WebTester/obj
WebTester/bin
1-First/bin
1-First/obj
2-HelloWorld/bin
2-HelloWorld/obj
3-PackingButtons/bin
3-PackingButtons/obj
4-Drawing/bin
4-Drawing/obj
5-Builder/bin
5-Builder/obj
6-WebView/bin
6-WebView/obj
7-NonGtkApp/bin
7-NonGtkApp/obj
8-PixBuf/bin
8-PixBuf/obj
CleanupTest/bin
CleanupTest/obj
ColumnView/bin
ColumnView/obj
Css/bin
Css/obj
EventControllerKey/bin
EventControllerKey/obj
ExampleApplication1/bin
ExampleApplication1/obj
ExampleApplication2/bin
ExampleApplication2/obj
ExampleApplication3/bin
ExampleApplication3/obj
ExampleApplication4/bin
ExampleApplication4/obj
ExampleApplication5/bin
ExampleApplication5/obj
ExampleApplication6/bin
ExampleApplication6/obj
ExampleApplication7/bin
ExampleApplication7/obj
FileSystem/bin
FileSystem/obj
ListView/bin
ListView/obj
TutorialFs/bin
TutorialFs/obj
WebWindowLinuxTester/bin
WebWindowLinuxTester/obj
Tutorial/bin
Tutorial/obj
Threading/bin
Threading/obj
SelectionFiltering/bin
SelectionFiltering/obj
