columnview listview row cell  {
	background-color: red;	
    color: white;	
    padding-top: 230px!;

	padding-bottom: 0;
}
columnview listview row:hover cell  {
	background-color: #ff9999;	
    color: yellow;	
    padding-top: 230px;

	padding-bottom: 0;
}
image {
    min-height: 18px;
}